:root {
  --primary: green;
  --bg: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: white;
  /* min-height: 3000px; */
}

        #loading-screen {
            position: fixed;
            width: 100%;
            height: 100%;
            background: #0a070e;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            transition: opacity 0.5s ease-out, visibility 0.5s;
        }

        /* Sembunyikan loading screen setelah halaman selesai dimuat */
        .loaded #loading-screen {
            opacity: 0;
            visibility: hidden;
        }

        /* Gaya logo */
        .logo {
            width: 100px; /* Sesuaikan ukuran logo */
            margin-bottom: 20px;
        }

        /* Progress Bar */
        .progress-bar {
            width: 200px;
            height: 10px;
            background: #555;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 10px;
        }

        .progress {
            height: 100%;
            width: 0%;
            background: #4b57ff;
            transition: width 1s ease-in-out;
        }

        /* Teks "Memuat..." */
        .loading-text {
            color: white;
            font-family: Arial, sans-serif;
            font-size: 14px;
        }



/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(255, 0, 0);
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: rgb(115, 115, 115);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(115, 115, 115);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: rgb(115, 115, 115);
}
.navbar form .navbar-extra {
  display: flex;
  align-items: center;
}

.navbar form .navbar-extra .searchbox {
  display: flex;
  align-items: center; /* Ini membuat input sejajar dengan icon secara vertikal */
  /* background-color: var(--primary); */
  color: white;
  border-radius: 100px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  cursor: pointer;
  padding: 0.5rem;
  transition: width 0.5s ease, transform 0.5s ease;
}

.navbar form .navbar-extra .searchbox input {
  border: none;
  padding: 0.2rem;
  border-radius: 50px;
  width: 200px;
  height: 25px;
  font-size: 0.8rem;
  margin-left: 0.5rem; /* Berikan sedikit jarak antara input dan icon */
  transition: opacity 0.3s ease;
}

.navbar form .navbar-extra .hidden {
  display: none; /* Untuk menyembunyikan box pencarian */
}

#menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/backgrounds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 55%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4em;
  color: white;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  max-width: 40rem;
}

.hero .content .wns h1 {
  color: red;
  font-style: italic;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  line-height: 2;
  font-weight: 700;
  font-style: bold;
  color: white;
  text-shadow: 1px 3px 5px rgb(16, 0, 0);
  /* mix-blend-mode: difference; */
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: white;
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about,
.menus,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menus h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menus h2 span,
.contact h2 span {
  color: var(--primary);
}

.about h2 span,
.menus h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 40px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  /* margin-top: 5.5rem; */
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 350;
  line-height: 2;
}

.about p {
  font-size: 1.2rem;
  font-weight: 350;
  line-height: 1.2;
  font-weight: bold;
}

/* Menu Section */

#menus {
  padding-top: 150px; /* Adjust the value as needed */
}

.menus {
  text-align: center;
  padding: 3rem 1rem;
}

.menus h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.menus p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 2rem;
}

.menus .row {
  display: flex;
  flex-wrap: wrap; /* Membuat elemen menjadi fleksibel dan dapat menyesuaikan ukuran layar */
  justify-content: center; /* Menyusun item secara horizontal di tengah */
}

.menus .menu-card {
  background: none;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 0.5rem;
  width: 300px; /* Lebar tetap untuk tiap menu */
  box-shadow: 0px 2px 10px rgb(255, 255, 255);
  transition: transform 0.3s ease;
}

.menus .menu-card:hover {
  transform: scale(1.05); /* Animasi saat hover */
}

.menus .menu-card-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.menus .menu-card-title {
  font-size: 1.5rem;
  margin-top: 20px; /* Menambahkan jarak dari elemen atas */
  margin-bottom: 0.5rem;
}

.menus .menu-card-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.menus h2,
.contact h2 {
  margin-bottom: 1rem;
}

.menus p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;
}

.menus .row-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  /* gap: 0; */
}

.menus .row-card .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menus .row-card .menu-card img {
  border-radius: 50%;
  width: 80%;
}

.menus .row-card .menu-card .menu-card-title {
  margin: 1.5rem auto 0.5rem;
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  /* flex-wrap: wrap; */
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: white;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 1rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: white;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
  font-size: 1.5rem;
}

footer .links a {
  color: white;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 1.3rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Shops.html */

.player-id-container {
  background-color: #fff; /* Putih */
  border-radius: 12px; /* Sudut bulat */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow untuk efek 3D */
  margin-bottom: 20px; /* Ruang di bawah */
  border: 2px solid #fff; /* Border putih */
}

.step-number {
  background-color: #6431c3; /* Warna lingkaran */
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

/* h2 {
    display: inline-block;
    font-size: 18px;
    color: #333;
    margin: 0;
}

.input-wrapper {
    position: relative;
    margin-top: 15px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #6431c3; /* Fokus warna ungu */
/* } */

.help-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #6431c3;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.description {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}

/*
.order-box input[type="number"] {
  width: 50px; /* Set a smaller width */
/*text-align: center; /* Center the number */
/*font-size: 18px;
  padding: 5px;
  border-radius: 8px; /* Rounded corners */
/* border: 1px solid #ddd;
  outline: none;
}

/* To remove arrows (spinners) in the number input */
/*input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/*input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
/* }  */

.order-box button {
  background-color: #ff4500;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  color: white;
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-box button:hover {
  background-color: #ff7043; /* Lighter shade on hover */
}

#pay-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 12px; /* Rounded corners */
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.bayar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#pay-btn:hover {
  background-color: #ff7043; /* Lighter shade on hover */
}

/* Login Box*/

.main-content {
  flex: 1;
  margin-top: 100px;
  margin-bottom: 147px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.main-content .login-box {
  width: 350px;
  padding: 50px;
  background: white;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  margin: 20px;
}

.main-content .login-box input[type="text"],
.main-content .login-box input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  background: whitefff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.main-content .login-box input[type="text"]:focus,
.main-content .login-box input[type="password"]:focus {
  border-color: var(--primary);
  box-shadow: 0 2px 8px rgba(0, 128, 0, 0.2);
}

.main-content .login-box .login-button {
  background-color: #00cc44;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.main-content .login-box .login-button:hover {
  background-color: #009933;
}

.main-content .login-box .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(255, 0, 0);
  font-style: italic;
}

.main-content .login-box .navbar-logo span {
  color: var(--primary);
}

.main-content .login-box .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.main-content .login-box .navbar-nav a:hover {
  color: rgb(115, 115, 115);
}

.main-content .login-box .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(115, 115, 115);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.main-content .login-box .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .hero {
    background-position-x: -300px;
    background-position-y: 20px;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #212121;
    width: 25rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: white;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .navbar form .navbar-extra .searchbox input {
    width: 150px;
    height: 25px;
    font-size: 1rem;
  }

  .menus .row-card {
    margin-top: 2rem;
    justify-content: center;
    /* gap: 0; */
  }

  .menus .row-card .menu-card {
    padding-bottom: 1rem;
  }

  .menus .row-card .menu-card img {
    border-radius: 50%;
    width: 40%;
  }

  .menus .row-card .menu-card .menu-card-title {
    margin: 1rem auto 0.5rem;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .hero {
    background-position-x: -800px;
    background-position-y: 0px;
  }
}
